@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
	height: 100%;
	color: rgba(60, 65, 71, 1);
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.body-wrapper {
	height: 100vh;
	overflow: hidden;
	
	.auth-body {
		position: relative;
		z-index: 1;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		background-color: rgba(250, 250, 250, 1);
		
		.auth-content {
			display: flex;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
			
			.auth-box {
				width: 100%;
				max-width: 1032px;
				margin: 40px auto;
				box-shadow: 0 4px 70px 10px rgba(0, 0, 0, 0.08);
				border-radius: 5px;
				background-color: rgba(250, 251, 252, 1);
				
				> .container {
					height: 100%;
					
					> .row {
						height: 100%;
						
						.auth-col-left {
							margin: 0;
							padding: 55px;
						}
						
						.auth-col-right {
							display: flex;
							flex-wrap: wrap;
							align-items: center;
							margin: 0;
							padding: 0;
							background: rgba(255, 255, 255, 1);
							
							.auth-form {
								width: 100%;
								min-height: 450px;
								margin: 0;
								padding: 55px;
								border: 1px solid rgba(255, 255, 255, 1);
								border-radius: 5px;
								background: rgba(255, 255, 255, 1);
								box-shadow: none;
								overflow-y: auto;
								
								h6 {
									color: rgba(174, 175, 182, 1);
									font-size: 12px;
									font-weight: 400;
									text-transform: uppercase;
								}
								
								h4 {
									font-size: 28px;
									font-weight: 600;
									margin: 0 0 30px 0;
									line-height: 42px;
								}
								
								label {
									color: rgba(32, 41, 47, 1);
									font-size: 16px;
									font-weight: 400;
								}
								
								.input-group {
									
									i {
										position: absolute;
										display: flex;
										top: 0;
										right: 16px;
										height: 100%;
										z-index: 999;
										align-items: center;
										justify-content: center;
									}
									
									.form-control {
										color: rgba(32, 41, 47, 1);
										height: 55px;
										font-size: 16px;
										font-weight: 400;
										line-height: 55px;
										margin: 0 !important;
										padding: 5px 30px 5px 16px !important;
										border: 1px solid rgba(232, 234, 233, 1);
										border-radius: 3px;
										box-shadow: none !important;
										background: transparent !important;
										transition: all 0.3s;
										
										&:focus {
											outline: none !important;
											box-shadow: 0 10px 10px rgba(0, 123, 255, 0.09) !important;
										}
									}
								}
								
								.btn-theme {
									color: rgba(255, 255, 255, 1);
									padding: 14px 52px !important;
									font-size: 18px;
									font-weight: 700;
									line-height: 25px;
									border-radius: 5px;
									box-shadow: none !important;
									background: rgba(0, 115, 236, 1);
									transition: all 0.2s linear;
									
									&:focus, &:hover {
										color: rgba(255, 255, 255, 1) !important;
										outline: none !important;
										box-shadow: 0 4px 11px rgba(241, 103, 67, 0.46) !important;
										transform: translateY(-2px) !important;
									}
								}
								
								input[type="checkbox"] {
									&:focus {
										box-shadow: none !important;
									}
								}
								
								a {
									color: rgb(0, 115, 236, 1);
									text-decoration: none !important;
									transition: all 0.3s ease-in-out;
								}
								
								.linkToRegister {
									
									font-size: 14px;
									text-align: center;
									
									span {
										color: rgba(126, 133, 146, 1);
									}
									
									
								}
								
							}
						}
					}
				}
			}
		}
	}
}
